* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body{
  text-align:center;
  font-family: 'Oswald', sans-serif;
  font-size:14px;
  background-image:url("../images/water.jpg");
  background-size:cover;
  background-position: center;
  overflow:hidden;
}

/* .container{
  height:100%;
} */

h1{
  color:#000066;
  border-radius:5px;
  padding:.5% 1%;
  font-size:3em;
  width:80%;
  margin:2% auto;
}

label{
  color:black;
  font-size:1.2rem;
  margin:0 14px 0 0;
}

#numPairs{
  width:100px;
  border:none;
  border-radius:5px;
  background-color:white;
}

.cards{
  position:relative;
  padding:2% .5%;
}

.allelse{
  position:relative;
  height:150px;
}

#reshuffle, #reset{
  color:white;
  background-color:#000066;
  border: 1px solid white;
  border-radius:5px;
  padding:.5% 1%;
  font-size:1.4em;
  margin:1% 2.2%;
  width:15%;
}

#reshuffle:hover, #reset:hover{
  background-color:#d9d9d9;
  color:#000066;
}

#winner{
  font-size:6em;
  color:white;
  margin:auto;
  display:inline-block;
}

.star {
  position: absolute;
  z-index:1;
  transform-origin: center 150%;
  display:none;

  animation: spin 10s infinite linear;

  width: 0;
  height: 0;

  border-right:  .25em solid transparent;
  border-bottom: .7em  solid white;
  border-left:   .25em solid transparent;

  /* Controls the size of the stars. */
  font-size: 80px;

}

  .star:before, .star:after{
    content: '';

    width: 0;
    height: 0;

    position: absolute;
    top: .6em;
    left: -1em;

    border-right:  1em solid transparent;
    border-bottom: .7em  solid white;
    border-left:   1em solid transparent;

    transform: rotate(-35deg);
  }

  .star:after {
    transform: rotate(35deg);
  }

  @keyframes spin{
    100% { transform:rotate(360deg)}
  }

.starA{
  top:2%;
  left:10%;
}

.starAA{
  top:4%;
  left:25%;
  font-size:48px;
}

.starB{
  top:4%;
  left:85%;
}

.starBB{
  top:70%;
  left:15%;
}

.starC{
  top:65%;
  left:75%;
  font-size:48px;
}

.starCC{
  top:70%;
  left:90%;
}
